html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
        'directory live'
        'directory timeline'
        'footer    footer';
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 2fr 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #d6d6d6;
}

/* ::-webkit-resizer {
    display: none;
} */

::-webkit-scrollbar-track {
    background-color: #22232a;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
}

h1,
h5 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-view {
    height: 100%;
    width: 100%;
}

.directory {
    grid-area: directory;
    background-color: #1e1f26;
    border-right: 1px solid black;
    display: grid;
    grid-template-areas:
        'heading'
        'current_dir'
        'files'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 40px 30px 1fr 40px;

    overflow: hidden;
    resize: horizontal;
    max-width: 80vw;
    min-width: 15vw;
}

#directory-header {
    grid-area: heading;
    padding-left: 1rem;
    padding-top: 1rem;
}

#directory-value {
    grid-area: current_dir;
    padding-left: 1rem;
    color: #b0b0b0;
}

#directory-contents {
    grid-area: files;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #2b2c33;
}

#directory-contents > li {
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.directory-dir {
    text-decoration: underline;
}

.movie-file {
    color: #38c955;
}

.live {
    grid-area: live;
    background-color: #2b2c33;
    overflow: auto;
    resize: vertical;
    max-height: 75vh;
    min-height: 40vh;
    padding: 1em;
}

.timeline {
    grid-area: timeline;
    background-color: #22232a;
    border-top: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
}

.footer {
    grid-area: footer;
    background-color: #1e1f26;
    color: #b0b0b0;
    border-top: 1px solid black;
    padding: 0 1em;
    font-size: small;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer > span {
    padding-right: 15px;
}
